<html>
<head>
    <title>Success!</title>
</head>
<body>
    <div>
        <h2>Folder "@ViewData["NewFolder"]" was created successfully!</h2>
    </div>
    <div>
        <a href="@ViewData["Url"]/@ViewData["Path"]">To previous page</a>
        <br>
        <a href=@ViewData["Url"]>To root folder</a>
    </div>
</body>
</html>
